@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }
}

.section1 {
  padding-left: 21vw;
}
@media screen and (max-width: 1440px) {
  .section1 {
    padding-left: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .section1 {
    padding-inline: 5vw;
  }
}
@media screen and (max-width: 480px) {
  .section1 {
    padding: 20px 10px;
  }
}

.section4, .section2 {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .section4, .section2 {
    padding-block: 40px;
    gap: 25px;
  }
}
@media screen and (max-width: 480px) {
  .section4, .section2 {
    padding-block: 25px;
    gap: 15px;
  }
}

.section1 {
  background-color: #EEEFF1;
  padding-block: 80px;
}
@media screen and (max-width: 1280px) {
  .section1 {
    padding-block: 50px;
  }
}
.section1 .menu {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 160px;
}
@media screen and (max-width: 1440px) {
  .section1 .menu {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .section1 .menu {
    gap: 5vw;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .section1 .menu {
    gap: 2.5vw;
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
    row-gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}
.section1 .menu__item {
  line-height: 164.063%;
  letter-spacing: 1.6px;
  font-weight: 400;
  font-size: inherit;
}
.section1 .menu .active {
  color: var(--Accent, #34547A);
  line-height: 164.063%;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-size: inherit;
}
.section1__main {
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 60px 0;
}
@media screen and (max-width: 1280px) {
  .section1__main {
    gap: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section1__main {
    margin-block: 60px 30px;
    gap: 20px;
  }
}
.section1__main .main__heading {
  line-height: 164.063%;
  letter-spacing: none;
  font-weight: 500;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .section1__main .main__heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .section1__main .main__heading {
    font-size: 34px;
  }
}
.section1__main .main__text {
  line-height: 164.063%;
  letter-spacing: none;
  font-weight: 400;
  font-size: inherit;
  width: 45%;
  color: #727272;
}
@media screen and (max-width: 1280px) {
  .section1__main .main__text {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section1__main .main__text {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .section1__main .main__text {
    width: 85%;
  }
}
.section1__main .main__btn {
  color: #FFF;
  background-color: var(--Accent, #34547A);
  line-height: none;
  letter-spacing: 1.6px;
  font-weight: 400;
  font-size: inherit;
  padding: 1.7vw 3.5vw;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1024px) {
  .section1__main .main__btn {
    padding-block: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .section1__main .main__btn {
    padding: 2.5vw 3.8vw;
  }
}
.section2 {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F9F9F9;
}
@media screen and (max-width: 1280px) {
  .section2 {
    padding-block: 60px;
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section2 {
    padding-block: 50px;
  }
}

.section__heading {
  text-align: center;
  line-height: none;
  letter-spacing: none;
  font-weight: 500;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .section__heading {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .section__heading {
    font-size: 22px;
  }
}

.section__text {
  color: #727272;
  text-align: center;
  line-height: 164.063%;
  letter-spacing: none;
  font-weight: 400;
  font-size: inherit;
  width: 35%;
}
@media screen and (max-width: 1280px) {
  .section__text {
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .section__text {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .section__text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .section__text {
    width: 90%;
  }
}

.section3 {
  background-color: var(--Accent, #34547A);
  padding-block: 100px;
}
@media screen and (max-width: 1280px) {
  .section3 {
    padding-block: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .section3 {
    padding: 5vh;
    padding-block: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section3 {
    padding: 30px 0;
  }
}
.section3__list {
  display: flex;
  gap: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 1280px) {
  .section3__list {
    gap: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .section3__list {
    flex-wrap: wrap;
    -moz-column-gap: 82px;
         column-gap: 82px;
  }
}

.list__item {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.list__item .item__textContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.list__item .item__textContainer > span:first-child {
  line-height: none;
  letter-spacing: none;
  font-weight: 500;
  font-size: 21px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .list__item .item__textContainer > span:first-child {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .list__item .item__textContainer > span:first-child {
    font-size: 16px;
  }
}
.list__item .item__textContainer > span:last-child {
  color: #FFF;
}

.section4 {
  display: flex;
  gap: 53px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #EEEFF1;
}
@media screen and (max-width: 1280px) {
  .section4 {
    padding-block: 60px;
    gap: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .section4 {
    padding-block: 50px;
  }
}
.section4__imgBlock {
  display: flex;
  gap: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Rectangle5.jpg);
  background-size: contain;
  width: 57vw;
  height: 31vw;
}
.section4__imgBlock svg {
  width: 9%;
}
@media screen and (max-width: 768px) {
  .section4__imgBlock {
    width: 80vw;
    height: 43.3vw;
  }
}
@media screen and (max-width: 480px) {
  .section4__imgBlock {
    width: 95vw;
    height: 51.4vw;
  }
}

.section5 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-block: 50px;
  background-color: var(--Accent, #34547A);
}
@media screen and (max-width: 1280px) {
  .section5 {
    padding-block: 35px;
  }
}
@media screen and (max-width: 768px) {
  .section5 {
    padding-block: 25px;
    gap: 10px;
  }
}
.section5 > span:first-child {
  line-height: none;
  letter-spacing: none;
  font-weight: 500;
  font-size: 21px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .section5 > span:first-child {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .section5 > span:first-child {
    font-size: 16px;
  }
}
.section5 > span:last-child {
  color: #FFF;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .section5 > span:last-child {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .section5 > span:last-child {
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */