@use "all";
@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.section1{
  padding-left: 21vw;
  background-color: all.$br1-color;
  padding-block: 80px;
}
.menu{
  @include all.flex();
  margin-bottom: 160px
}
.menu__item{
  @include all.font();
}
.active{
  color: all.$br2-color;
  @include all.font(500);
}
.section1__main{
  @include all.flex(60px, column);
  margin: 60px 0;
}
.main__heading{
  @include all.font(500, none, 164.063%, 48px);
}
.main__text{
  @include all.font(400, none);
  width: 45%;
  color: all.$text1-color;
}
.main__btn{
  color: all.$text2-color;
  background-color: all.$btn-color;
  @include all.font(400, 1.6px, none);
  padding: 1.7vw 3.5vw;
  width: max-content;
}
.section2{
  @include all.flex(50px, column, start, center);
  background-color: all.$br3-color;
  padding: 100px 0;
}
.section__heading{
  text-align: center;
  @include all.font(500, none, none, 32px);
}
.section__text{
  color: all.$text1-color;
  text-align: center;
  @include all.font(400, none);
  width: 35%; 
}
.section3{
  background-color: all.$br2-color;
  padding-block: 100px;
}
.section3__list{
  @include all.flex(60px, row, center,);
}
.list__item{
  @include all.flex(20px);
}
.item__textContainer{
  @include all.flex(10px, column);
  > span:first-child{
    @include all.font(500, none, none, 21px);
    color: all.$text2-color;
  }
  > span:last-child{
    color: all.$text2-color;
  }
}
.section4{
  @include all.flex(53px, column, start, center);
  background-color: all.$br1-color;
  padding-block: 100px;
}
.section4__imgBlock{
  @include all.flex(0, row, center, center);
  background-image: url(../img/Rectangle5.jpg);
  background-size: contain;
  width: 57vw;
  height: 31vw;
  svg{
    width: 9%;
  }
}
.section5{
  @include all.flex(20px, column);
  padding-block: 50px;
  padding-left: 21vw;
  background-color: all.$br2-color;
  > span:first-child{
    @include all.font(500, none, none, 21px);
    color: all.$text2-color;
  }
  > span:last-child{
    color: all.$text2-color;
    font-size: 13px;
  }
}


@media screen and (max-width: 1440px){
  .section1, .section5{
    padding-left: 12vw;
  }
  .menu{
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1280px){
  .section3__list{
    gap: 40px;
  }
  .section__text{
    width: 45%;
  }
  .main__text{
    width: 50%;
  }
  .section1{
    padding-block: 50px;
  }
  .section2{
    padding-block: 60px; 
    gap: 30px
  }
  .section3{
    padding-block: 60px;
  }
  .section4{
    padding-block: 60px;
    gap: 40px;
  }
  .section5{
    padding-block: 35px;
  }
}
@media screen and (max-width: 1024px){
  .section3{
    padding: 5vh;
  }
  .section3__list{
    flex-wrap: wrap;
    column-gap: 82px;
  }
  .section__text{
    width: 55%;
  }
  .main__text{
    width: 65%;
  }
  .main__btn{
    padding-block: 2vw;
  }
  .section1__main{
    gap: 40px ;
  }
  .section2{
    padding-block: 50px;
  }
  .section3{
    padding-block: 50px;
  }
  .section4{
    padding-block: 50px;
  }
}
@media screen and (max-width: 768px){
  *{
    font-size: 15px;
  }
  .section1, .section5{
    padding-inline: 5vw;
  }
  .menu{
    gap: 5vw;
    justify-content: center;
  }
  .main__heading{
    font-size: 40px;
  }
  .main__text{
    width: 85%;
  }
  .main__btn{
    padding: 2.5vw 3.8vw;
  }
  .section__heading{
    font-size: 26px;
  }
  .section__text{
    width: 82%;
  }
  .item__textContainer > span:first-child{
    font-size: 18px;
  }
  .section5 > span:first-child{
  font-size: 18px;
  }
  .section5 > span:last-child{
    font-size: 12px;
  }
  .section4__imgBlock{
    width: 80vw;
    height: 43.3vw;
  }
  .section2, .section4{
    padding-block: 40px;
    gap:25px;
  }
  .section5{
    padding-block: 25px;
    gap: 10px;
  }
}
@media screen and (max-width: 480px){
  *{
      font-size: 14px;
  }
  .section1, .section5{
    padding: 20px 10px;
  }
  .menu{
    gap: 2.5vw;
    column-gap: 2.5vw;
    row-gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .main__heading{
    font-size: 34px;
  }
  .section1__main{
    margin-block: 60px 30px ;
    gap: 20px ;
  }
  .section__heading{
    font-size: 22px;
  }
  .section__text{
    width: 90%;
  }
  .section3{
    padding: 30px 0;
  }
  .item__textContainer > span:first-child{
    font-size: 16px;
  }
  .section5 > span:first-child{
  font-size: 16px;
  }
  .section5 > span:last-child{
    font-size: 11px;
  }
  .section4__imgBlock{
    width: 95vw;
    height: 51.4vw;
  }
  .section2, .section4{
    padding-block: 25px;
    gap:15px;
  }
}  